venv
.venv
.venv/
.env
.idea
.ipynb_checkpoints
__pycache__
__pycache__
.ipynb_checkpoints
results_ex/
data
data/
bert_312_bpe_30k
fine-tuned-bert_bbc_26062024
models/
*.tgz
*.csv
*.xlsx
.DS_Store
venv/
.python-version
title_0.npz
.ipynb_checkpoints
weights
.idea
__pycache__/
*.db
fine-tuned-bert-11102023/
fine-tuned-bert-22092023/
*.png
*.jpeg
*.jpg
*.PDF
*.pdf
*.zip
*.docx
*.doc
*.gif
*.MOD
